

<div class="container">
    <div class="row">
        <div class="edit-message col-md-offset-3 col-md-6">

			<h1>Editing Book</h1>
			<% if @book.errors.any? %>
                            <%= @book.errors.count %>件のerrorが発生しました
                            <% @book.errors.full_messages.each do |message| %>
                               <%= message %>
                            <% end %>
                        <% end %>
			<%= form_for(@book) do |f|%>
			     <div class="col-xs-12">titel</div>
				   <%= f.text_field :title ,class: "col-xs-12"%>
				<div class="col-xs-12">body</div>
				   <%= f.text_area :body ,class: "col-xs-12"%>
				<div class="actions">
				  <%= f.submit 'Update Book' ,class: "col-xs-12 btn btn-primary" %>
			    </div>
			<% end %>
			<%= link_to "show", book_path(@book.id) %>
            <%= link_to "back", users_path %>



</div>
   </div>
      </div>



